@import "tailwindcss";

@keyframes pageReveal {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.animate-page {
  animation: pageReveal 0.4s ease-in-out;
}

@keyframes modalIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes modalOut {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0.95);
  }
}
.animate-modal-in {
  animation: modalIn 0.3s ease-out forwards;
}
.animate-modal-out {
  animation: modalOut 0.2s ease-in forwards;
}
